#bit-payment-button-mobile {
    align-items: center;
    background: url('../../images/bit-button.png') no-repeat center center / cover;
    background-color: #4e585e;
    border-radius: 4px;
    border: 1px solid #4e585e;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    font-family: Arial, serif;
    height: 70px;
    justify-content: space-around;
    padding: 0 10px;
    position: relative;
    text-shadow: 1px 1px #4e585e;
    transition: all ease-in-out 150ms;
    width: auto;

    &:hover {
        background-color: #a2acb2;
        text-decoration: none;
    }
}

.payment-method.bit .payment-icon {
    background-size: contain;
    background: url('../../images/bit-logo.png') no-repeat center center / cover;
    height: 40px;
    margin: 5px 5px 5px 0;
    width: 40px;
}
