<?php
    /** @var $block Fisha\Bit\Block\Adminhtml\Info */
    $payment = $block->getBitPayment();
    $addInfo = $payment->getAdditionalInformation();
?>

<?php if ($payment->getMethod() == 'bit'): ?>
    <?php if (count($addInfo)): ?>
        <?php foreach ($addInfo as $key => $value): ?>
            <div><b><?= $key ?>:</b> <?= $value ?></div>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>
